.container {
  padding-top: 5%;
  max-width: 400px;
  position: relative;
}

.game-container {

max-width: 800px;
padding: 2rem 0;
margin: 0 auto;

}

.game-play {
width: 100%;
padding-bottom: 100%;
position: relative;
background: rebeccapurple;

}

/*class for block game-play when shuffle */
.game-shuffle {
pointer-events: none;
opacity: 0.8;
}

.item {
position: absolute;
left: 0;
top: 0;
width: 25%;
height: 25%;
margin: 0;
padding: 0;
border: 0;
background: beige;
font-size: 2rem;
cursor: pointer;
border: solid royalblue 2px;
border-radius: 10%;
transition: transform 0.2s;
}

@media (max-width: 500px) {
  .item {
    font-size: 1rem;
  }
}

.item.three {
  width: 40%;
  height: 40%;
}

.item:last-child {
  display: none;
}

.form-item {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

#level {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+label{
  color: blue;
}

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-cont {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 400px;
min-height: 300px;
padding: 0.5rem;
background-color: white;
border: solid 2px rebeccapurple;
border-radius: 2%;
color: black;
font-size: 1.5rem;
text-align: center;
}

#modal.hidden {
  display: none;
}

#sound.off {
  background-color: slategray;
  text-decoration: line-through;
}
