.container {
  padding-top: 5%;
  max-width: 400px;
}

.game-container {

max-width: 500px;
padding: 2rem 0;
margin: 0 auto;

}

.game-play {
width: 100%;
padding-bottom: 100%;
position: relative;
background: rebeccapurple;

}

/*class for block game-play when shuffle */
.game-shuffle {
pointer-events: none;
opacity: 0.8;
}

.item {
position: absolute;
left: 0;
top: 0;
width: 25%;
height: 25%;
margin: 0;
padding: 0;
border: 0;
background: beige;
font-size: 2rem;
cursor: pointer;
border: solid royalblue 2px;
border-radius: 10%;
transition: transform 0.2s;
}

#frame-size {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+label{
  color: blue;
}
