@import '../styles/_colors';
@import '../styles/fonts';
@import '../styles/common';
@import '../styles/header';

.panda {
width: 100%;
height: 390px;

// img {
// width: 100%;
// height: 382px;
// }
background-image: url('../assets/img/panda_don.png');
background-repeat: no-repeat;
background-size: contain;
}
