@import '../styles/_colors';
@import '../styles/fonts';
@import '../styles/common';
@import '../styles/header';

.nav-container {
  gap: 63px;
  align-items: center;
}

main {
  display: block;
  box-sizing: border-box;
}

.panda {
height: 385px;
width: 100%;
background: url('../assets/img/Giant Panda.jpg') no-repeat center ;
  background-size: cover;
}

@media (max-width: 1000px) {
.panda {
  background: url('../assets/img/panda_don.png')
}
}

@import '../styles/pick-donate';
@import '../styles/footer';


.footer-container .btn {
  margin-top: 35px;
  margin-bottom: 45px;
}
