@import '../styles/_colors';
@import '../styles/fonts';
@import '../styles/common';
@import '../styles/header';

.nav-container {
  gap: 63px;
  align-items: center;
}

main {
  display: block;
  box-sizing: border-box;
}

.panda {
height: 390px;
width: 100%;
background: url('../assets/img/Giant Panda.jpg') no-repeat center ;
  background-size: cover;
}


@import '../styles/pick-donate';
@import '../styles/footer';


.footer-container .btn {
  margin-top: 35px;
  margin-bottom: 45px;
}

@media (max-width: 1000px) {
  .panda {
    background: url('../assets/img/panda_don.png')
  }
  .nav .nav-list {
    padding-left: 0;
  }
  #footer {
padding-left: 30px;
  }
  .footer-head {
    margin-right: 40px;
}
.design-list {
  margin-right: 10px;
}
  }

  @media (max-width: 640px) {
    .panda {
      height: 335px;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
    }
    #footer {
      padding-left: 20px;
    }
    .footer-container .btn {
      margin-top: 32px;
      margin-bottom: 65px;
  }
  .design-list {
    margin-right: 0;
}
  }

  @media (max-width: 638px) {
    .footer-container {
      .mobile-logo {
        margin-left: 96px;
      }

.btn {
        margin: 86px auto 30px auto;
      }
.mobile-links{
  left: 63px;
}
}
}

  @media (max-width: 500px) {
    .panda {
      height: 185px;
    }
    #footer {
      padding-left: 0;
  }


  }
