.backstage {
  padding: 8.75rem 0 74px 0;
  //all botton 11.25rem
  background-color: $gray-light;
  background-image: url('../assets/img/flower_foto1.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.back-container {
  max-width: 1161px;
  display: flex;
  justify-content: center;
  gap: 5.43rem;
  margin: 0 auto;

  .btn {
    display: none;
  }
}
.section-img {
  width: 38.06rem;
height: 25.187rem;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
}

.back-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: $black;
}

.description {
  line-height: 140%;
  color: $black;
}

.back-content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.subtitle {
  font-size: 24px;
line-height: 120%;
color: $black;
}

@import './adaptive/ad-backstage';
