html {
  scroll-behavior: smooth;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
border: none;
background: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.flex {
  display: flex;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto';
  font-weight: 400;
}

.link {
  color: $white;
  font-weight: 500;
  line-height: 140%;
  transition: 0.3s;

  &:hover {
    background: $orange-grad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
    transition: 0.3s;
  }
}

a.logo-link {
  display: block
}

    .logo {
    position: relative;
    width: 72.49px;
    height: 44.91px;
    padding: 3.5px 4.7px;
    margin: 0;
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    color: $white;
    border: 1.18841px solid $white;
    border-radius: 2px;

    &:hover {
background: $orange;
    }
    .logo-img {
    position: absolute;
      top: 21px;
      left: 8px;
    }
    }

    .btn {
      width: 298px;
      height: 54px;
      background: $orange-grad;
      border-radius: 25px;
      font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
text-transform: uppercase;
color: $white;
transition: 0.5s;

&:hover {
  background: $orange;
  cursor: pointer;
  transition: 0.5s;
}

&:active {
  background: $gren;
}
    }

.title {
font-size: 48px;
line-height: 120%;
}
