#footer {
  padding: 40px 0 30px 0;
  background-color: #111115;
}

.footer-container {
  max-width: 1160px;
  margin: 0 auto;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 30px 0 35px 0;
  }

  .nav-list {
    margin-left: 115px;
  }
}
.footer-head {
  display: flex;
  justify-content: space-between;
}

.footer-subscribe {

  .title {
    margin: 0;
    margin-bottom: 14px;
    font-size: 24px;
line-height: 120%;
color: $white;
  }
}

.footer-input {
  position: relative;
  width: 210px;
  height: 42px;
  padding-left: 10px;
  background-color: inherit;
  border: solid 1px $orange;
border-radius: 5px;

&::-webkit-input-placeholder {
  line-height: 140%;
  color: #BDBDBD;
}

&::-moz-placeholder  {
  line-height: 140%;
color: #BDBDBD;
}

&:focus {
  &+.email-btn {
    border: 1px solid #4B9200;
    color: #4B9200;
  }
}
}

.email-btn {
width: 129px;
height: 42px;
border-radius: 5px;
margin-left: 10px;
&.default {
background: #F1F3F2;
border: 1px solid #333B41;
}

&.active {
  background: #F1F3F2;
  border: 1px solid #4B9200;
  color: #4B9200;
}

&.mistake {
  background: #F1F3F2;
border: 1px solid #D31414;
color: #D31414;
}

}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.network-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
padding: 0;
}

.network-item {
  display: flex;
  gap: 12px;
}

.link-icon {
  display: block;


.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
background-color: rgba(196, 196, 196, 0.5);

&:hover {
  background-color: $orange;
  transition: 0.3s;
}
}
}

.design-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.design-item {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: $white;
}
