.header {
  background-color: #111115;
  z-index: 2;
}

.nav {
max-width: 1600px;
display: flex;
justify-content: space-between;
padding: 14px 13.75rem;
margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  gap: 23px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 3.625rem;
}

.nal-item {
  .active {
    pointer-events: none;
    background: $orange;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.design {
  padding-top: 16px;
}

.menu-burger {
  display: none
}

@import './adaptive/ad-header';
