h2 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.pick {
  padding-top: 40px;
  padding-bottom: 11.25rem;
background: $oran-grad;
font-weight: 400;
color: $white;
}

.pick-container {
  max-width: 1160px;
  margin: 0 auto;
}



.pick-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info-title {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 300;
line-height: 130%;
}

.info-description {
  font-weight: 500;
font-size: 16px;
line-height: 140%;
}

.pick-title {
  font-size: 36px;
line-height: 130%;
color: #FE9013;
}


.pick-card {
  margin-top: 60px;
  padding: 40px 5.75rem 65px 5.75rem;
  background: $white-rg;
  backdrop-filter: blur(2px);
border-radius: 20px;
color: $black;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-title {
  font-size: 48px;
line-height: 120%;
text-align: center;
color: #FE9013;
}

.card-subtitle {
  font-size: 24px;
  line-height: 120%;
  color: $black;
}

figure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 545px;
  margin: 60px auto 48px auto;
  padding-right: 8px;

  & figcaption {
display: flex;
  }

  .count {
    text-align: center;
    //padding-top: 69px;

    p:first-of-type {
      font-weight: 500;
      font-size: 72px;
      margin-top: 45px;
      line-height: 80%;
    }

    p:last-of-type {
      margin: 0;
      padding-top: 12px;
  }
}

.x {
  align-content: flex-start;
  padding-top: 32px;
  padding-left: 10px;
}

img {
  margin-left: auto;
  padding-right: 7px;
}
}

.container {
  max-width: 1160px;
  margin: 0 auto;

  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.range-holder {
  background: #404950;
  border-radius: 2px;
  max-width: 976px;
  height: 27px;
  margin-top: 20px;
}
.range-holder hr {
  position: relative;
  top: 13px;
  margin: auto;
  border: #72828E 1px solid;
  margin-right: 32px;
  margin-left: 32px;
}

input.reset-radios {
  display: none;
}

.choose-amount {
  display: flex;
  margin: auto;
  height: 27px;
  justify-content: space-between;
  padding-top: 2px;
}
.choose-amount .input-label-holder {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.choose-amount .input-label-holder label {
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  padding-right: 25px;
  padding-left: 25px;
}
.choose-amount .input-label-holder .checked {
  display: none;
  position: absolute;
  bottom: -11px;
  right: 10px;
  transition: all 200ms ease-out;
}
.choose-amount .input-label-holder input[type=radio] {
  display: none;
}
.choose-amount .input-label-holder input[type=radio] + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  cursor: pointer;
}
.choose-amount .input-label-holder input[type=radio]:checked + label img.checked {
  display: inline;
}
.choose-amount .input-label-holder input[type=radio]:checked ~ p {
  color: $orange;
}
.choose-amount .input-label-holder p {
  position: absolute;
  top: 35px;
  margin: 0;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
}
.choose-amount #d500, .choose-amount #d250, .choose-amount #d100, .choose-amount #d50, .choose-amount #d25 {
  left: -5px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
  max-width: 302px;
}

p {
  margin-top: 31px;
}

input[type="number"] {
  width: 260px;
  height: 48px;
  margin: 50px 0 25px 0;
  padding-left: 9px;
  background: inherit;
  background-image: url('../assets/icons/Vector.svg');
  background-repeat: no-repeat;
  background-position: 250px center;
  background-size: 10px 20px;
  border: solid 2px #929699;
  border-radius: 2px;

  &::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}

.card-radio {
display: flex;
justify-content: space-between;
gap: 50px;
margin-bottom: 32px;

input[type="radio"] {
  display: none;

  &:checked+label::before {
    background-color: $orange;
  }
}

  .custom-checkbox {
    display: inline-flex;
    align-items: center;
    user-select: none;

    &::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $orange;
      border-radius: 50%;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }
}

@import './adaptive/ad-pick-donate';
