
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}

.popup.active {
opacity: 1;
visibility: visible;
}

.popup-body {
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.popup-content {
  position: relative;
    width: 320px;
    height: 428px;
    margin-top: 20px;
    padding: 30px 26px 0 17px;
        background-color: $white;

        .popup-close {
  position: absolute;
  right: 15px;
        }

        .testim-card .card-content {
          height: 324px;
        }
}
