.testimonials {
  padding: 8.75rem 0 11.25rem 0;
  background-color: $gray-light;
  background-image: url('../assets/img/leavM.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.testim-container {
max-width: 1160px;
margin: 0 auto;
//overflow: hidden;

.btn {
  border-radius: 5px;
}

  .title {
    margin: 0;
    margin-bottom: 47px;
    font-size: 36px;
    font-weight: 400;
  line-height: 130%;
  text-align: center;
  }
}

.testim-cards {
    display: flex;
    justify-content: space-between;
    text-align: start;
    overflow: hidden;
    position: relative;
   // overflow-x: auto;
    max-width: 1193px;

}

.card-border {

  &.visible {
    transform: translateX(0);
  }

  &.hidden {
    position: absolute;
    top: 0;
    right: -30px;
    display: block;
    transform: translateX(100%);
  }

  margin: 0 15px;
    border-radius: 20px;
    padding: 2px;
    //width: 268px;
    height: 391px;
    background: $pink-grad;

  &:nth-child(1) {
    margin-left: 0;
}
}

.testim-card {
  min-width: 231px;
border-radius: 20px;
padding: 15px 15px 19px 14px;
background: #F1F3F2;

.card-content {
  height: 309px;
  overflow: hidden;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #767474;
}

}

.card-header {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.avatar {
  width: 37px;
height: 37px;
}

.card-title-name {
font-size: 16px;
line-height: 120%;
color: #000000;
}

.card-title-info {
  font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #BDBDBD;
}

.card-title-date {
  &::before {
    content: '•';
  }
}


.range {
  display: flex;
  justify-content: center;
}

input[type=range] {
  margin: 14px 0 31px 0;
appearance: none;
width: 37.437rem;
height: 8px;
background-image: linear-gradient($orange, #F5F7F6);
background-size: 19% 100%;
background-repeat: no-repeat;
border: solid 1px $orange;
border-radius: 5px;

&::-webkit-slider-thumb {
appearance: none;
}
}

.from-left-to-center {
  -webkit-animation-name: left;
          animation-name: left;
}

.from-center-to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.from-center-to-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

.from-right-to-center {
  -webkit-animation-name: right;
          animation-name: right;
}

.from-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.from-center {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

.to-center {
  -webkit-animation-name: right;
          animation-name: right;
}

@-webkit-keyframes left {
  from {
    transform: translateX(-105%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes left {
  from {
    transform: translateX(-105%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes right {
  from {
    transform: translateX(105%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes right {
  from {
    transform: translateX(105%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 0;
    margin-top: 100%;
    height: 0%;
  }
  3% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
    margin-top: 0;
    height: 90%;
  }
}
@keyframes fadeout {
  0% {
    opacity: 0;
    margin-top: 100%;
    height: 0%;
  }
  3% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
    margin-top: 0;
    height: 90%;
  }
}


@import './adaptive/_ad-testimonails';
