html,
.wrapper {
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  height: 100%;
  color: $main-fonts;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  background: $main;
}

.nav {
  display: flex;
  justify-content: space-between;
  color: $main-fonts;
}

.main {
  flex: 1 0 auto;
  background-color: rgb(43, 42, 42);
}

.logo-link {
  display: block;
}

.logo {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 2rem;
}

.logo__item {
  color: $side;
  transition: 0.3s;

  &:hover {
    color: $hover-fonts;
    transition: 0.3s;
  }
}

.logo__item-position {
position: absolute;
top: 26px;
left: 1.5rem;
font-size: 1.5rem;
font-weight: 600;
font-style: italic;
color: $main-fonts;
}

.btn {
  width: 150px;
  height: 54px;
  background: $main-btn;
  border-radius: 25px;
  font-weight: 500;
line-height: 140%;
text-align: center;
text-transform: uppercase;
color: $main-fonts;
transition: 0.5s;

&:hover {
background: $hover-btn;
cursor: pointer;
transition: 0.5s;
}

@media (max-width: 680px) {
  width: 100px;
  font-size: 14px;
}
}

.btn-link {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    color: $hover-fonts;
  }
}
