.header {
  background-color: $main;
}

.header__nav {
padding: 1rem 2rem;
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.language {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

input[type="radio"] {
display: none;

&:checked+label {
color: $side;
}
}

.language__label {
  transition: 0.3s;

  &:hover {
color: $hover-fonts;
transition: 0.3s;
  }
}

.score {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;

  &.hide {
    display: none;
  }
}
