.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: $main-side;
}

.popup.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup__container {
display: flex;
justify-content: center;
position: relative;
max-width: 700px;
padding: 2rem 0.5rem;
padding-top: 3rem;


@media (max-width: 780px) {

  & {
  max-width: 100%;
  }
}
}

.popup__close {
  position: absolute;
  top: 7px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $main-btn;
  transition: 0.3s;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  color: $main-side;

  &:hover {
    background-color: $hover-fonts;
    transition: 0.3s;
  }

  @media (max-width: 780px) {

    & {
    right: 5px;
    top: 0;
    }
  }
}

.gameplay__item_popup {
  width: 80%;
  padding: 1rem;
  border-radius: 10px;
  //min-width: 400px;

  @media (max-width: 780px) {

    & {
    width: 100%;
    //min-width: none;
    }
  }
}

.text-popup {
  margin-top: 0.5rem;
}
