.header__nav-quiz {
  padding: 0.5rem 1.5rem;
}

.score {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
}

.main__nav-quiz {
padding: 1rem 1.5rem;
font-size: 1.5rem;
flex-wrap: wrap;
gap: 1rem;
background-color:$main-side;

@media (max-width: 710px) {
  justify-content: center;
  // padding-left: 10px;
  // padding-right: 10px;
}
}

.nav__item {
  flex-wrap: wrap;

  &.active {
    color: $hover-btn;
  }

  @media (max-width: 1000px) {
    font-size: 1rem;
  }
}

.quiz {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 0.5rem;
}

.gameplay{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.quiz__gameplay {
  flex-wrap: wrap;
}

.gameplay__item {
width: 48%;
background-color: $game-back;

  @media (max-width: 780px) {
    width: 100%;
  }
}

.gameplay__item-answers {
display: flex;
flex-direction: column;
//gap: 10px;
}

.answer__list {
  padding: 1rem;
  padding-left: 1.5rem;
  border: $main-side 1px solid;
  border-radius: 5px;
  transition: 0.3s;

  &.right span::before {
  content: '✔';
  display: inline-block;
  color: $main-btn;
  text-align: center;
  margin-right: 0.5em;
  }

&.wrong span::before {
  content: '✕';
  display: inline-block;
  color: $attention;
  text-align: center;
  margin-right: 0.5em;
}

  &:hover {
    background-color: $main-side;
    transition: 0.3s;
  }

  @media (max-width: 780px) {
    padding: 0.5rem;
    padding-left: 1.5rem;
  }
}

.quiz__card {
}

.card {
  display: flex;
  gap: 1.5rem;
}

.active {
}

.card__img {
  width: 200px;
  height: 155px;
  border-radius: 10px;
}

.card__body {
  display: flex;
  flex-direction: column;
  //gap: 1.5rem;
}

//player
.audio-player {
  height: 50px;
  width: 350px;
  background: #444;
  box-shadow: 0 0 20px 0 #000a;

  font-family: arial;
  color: white;
  font-size: 0.75em;
  overflow: hidden;

  display: grid;
  grid-template-rows: 6px auto;
  .timeline {
    background: white;
    width: 100%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
    .progress {
      background: coral;
      width: 0%;
      height: 100%;
      transition: 0.25s;
    }
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px;

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .toggle-play {
      &.play {
        cursor: pointer;
        position: relative;
        left: 0;
        height: 0;
        width: 0;
        border: 7px solid #0000;
        border-left: 13px solid white;
        &:hover {
          transform: scale(1.1);
        }
      }
      &.pause {
        height: 15px;
        width: 20px;
        cursor: pointer;
        position: relative;
        &:before {
          position: absolute;
          top: 0;
          left: 0px;
          background: white;
          content: "";
          height: 15px;
          width: 3px;
        }
        &:after {
          position: absolute;
          top: 0;
          right: 8px;
          background: white;
          content: "";
          height: 15px;
          width: 3px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .time {
      display: flex;

      > * {
        padding: 2px;
      }
    }
    .volume-container {
      cursor: pointer;
      .volume-button {
        height: 26px;
        display: flex;
        align-items: center;
        .volume {
          transform: scale(0.7);
        }
      }

      position: relative;
      z-index: 2;
      .volume-slider {
        position: absolute;
        left: -3px; top: 15px;
        z-index: -1;
        width: 0;
        height: 15px;
        background: white;
        box-shadow: 0 0 20px #000a;
        transition: .25s;
        .volume-percentage {
          background: coral;
          height: 100%;
          width: 75%;
        }
      }
      &:hover {
        .volume-slider {
          left: -123px;
          width: 120px;
        }
      }
    }
  }
}
