@media (max-width: 1000px) {
  .pick {
    padding-bottom: 30px;
  }

  .pick-container {
    max-width: 940px;
  }
  .info-title {
    margin-bottom: 35px;
  }
  .pick-card {
    margin-top: 40px;
    padding: 20px 3rem 46px 3rem;
  }
  .card-text {
    gap: 10px;
  }

  .container {
    margin: 0 20px;
}
  .range-holder {
    max-width: 810px;
  }

  .choose-amount {
    div:first-child {
      display: none;
    }
  }
}

@media (max-width: 640px) {
  .pick {
  padding: 30px 20px 46px 20px;
}

.pick-info {
  gap: 30px;
}

.info-title {
  font-size: 24px;
  margin-bottom: 15px;
}
.pick-card {
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 33px;
}
.card-text {
  gap: 20px;

.card-subtitle {
  text-align: center;
}
}

figure {
  margin: 50px auto 41px auto;
}

.container {
  margin: 0;
}
.range-holder {
  margin-top: 7px;
}

.choose-amount {
  .tabl {
    display: none;
  }
}

input[type=number] {
  width: 170px;
  height: 32px;
  margin-bottom: 35px;
  background-position: 160px center;
}
}

@media (max-width: 500px) {
  .pick {
    padding: 30px 10px 22px 10px;
}
.pick-info {
  gap: 25px;
}
.pick-title {
  font-size: 24px;
}
.pick-card {
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-title {
  font-size: 24px;
  text-align: center;
}
.card-text {
  gap: 10px;
}

.card-subtitle {
  font-size: 16px;
}

figure {
  margin-top: 14px;
  margin-bottom: 5px;
  padding-right: 0;

  .count p:first-of-type {
    font-size: 40px;
    margin-top: 30px;
  }
  .count p:last-of-type {
    font-size: 9px;
  }
  img {
    width: 7px;
    height: 7px;
    padding-right: 0;
  }
}

  .img-animal {
    width: 160px;
    height: 138px;
  }
  .range-holder {
    height: 15px;

    hr {
      top: 7px;
    }
  }
  .choose-amount {

    #d500, #d250, #d100, #d50, #d25{
      left: 0;
    }


    .input-label-holder {
      p {
        top: 20px;
        margin-left: 10px;
        font-size: 13px;
      }
      img {
        width: 5px;
        height: 5px;
      }
      .checked {
        bottom: -4px;
    right: 18px;
        width: 20px;
        height: 20px;
      }
      label {
        top: -8px;
        margin-bottom: 10px;
      }
    }
    #d50, #d25 {
      margin-left: 20px;
    }
  }

  input[type=number] {
    margin: 0px 0 30px 0;
  }
  .card-share {
    font-size: 15.5px;
    text-align: center;
  }
}
