@media (max-width: 1000px) {
  .testimonials {
    padding-top: 100px;
    padding-bottom: 140px;
    background-size: 180px 220px;
  }

  .testim-container {
    .title {
      margin-bottom: 30px;
    }

    .btn {
      margin-left: 30px;
    }
  }

  .testim-cards {
    justify-content: space-evenly;
    margin-top: 30px;

    .last_visible {
      display: none;
    }


    .card-border {
      height: 388px;

      &:nth-child(1) {
        margin-left: 0;
    }
    }

  }

  .testim-card {
    min-width: 265px;
    padding: 12px 15px 16px 14px;
  }

input[type=range] {
  width: 390px;
  margin-bottom: 52px;
}
}

@media (max-width: 980px) {

  .testimonials {
    padding-top: 60px;
    padding-bottom: 78px;
    background-size: 100px 120px;

    .title {
      font-size: 36px;
    }
  }

.testim-container {
  .btn {
    width: 240px;
    margin: 35px 12.5rem 0 12.5rem;
  }
}

  .testim-cards {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
   //max-height: 370px;


    .card-border {
      width: 99%;
      height: 103px;
      margin: 7.5px 0;
    }

    .card-content {
        height: 36px;
    }
  }


  .testim-card {
      padding: 12px 15px 8px 14px;
  }

.range {
  display: none;
}
}

@media (max-width: 638px) {

  .testimonials {
padding-top: 30px;
padding-bottom: 58px;
background-position: 270px bottom;
    background-size: 50px 65px;

    .title {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  .testim-container {
    .btn {
      margin: 15px 0 0 40px;
    }
  }



  .testim-cards {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;

      .card-border {
        margin: 9px 0;
  }

  .card-content {
    margin-top: 8px;
    margin-left: 6px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.1px;
  }
  }
  .testim-card {
    padding: 9px 15px 8px 10px;
  }
}
