// @media (max-width: 1200px) {

// }


@media (max-width: 1200px) {
  .watch {
    padding-bottom: 47px;
    background-image: url('../assets/img/panda-short.jpg');
    background-position: bottom;
  }

  .watch-half {
    display: none;
  }
  .watch-wrapper {
    padding-right: 85px;
    padding-top: 42px;
}
  .watch-container {
    gap: 40px;
  }

  .watch-circle {
    width: 367px;
    height: 367px;
    top: -3.7rem;
  }

  .watch-title .title {
    font-size: 85px;
    line-height: 75%;
  }
}

@media (max-width: 770px) {
.watch {
  padding-bottom: 93px;
}

  .watch-title {

    margin-left: 80%;

    .title {
      font-size: 54px;
      line-height: 75%;
    }
  }

  .watch-circle {
    width: 237.6px;
  height: 237.6px;
  top: -18%;
  left: 60%;
  }

.watch-container {
  width: 100%;
  gap: 0;
  .btn {
    position: absolute;
    bottom: -53px;
    right: 43%;
  }
}
}

@media (max-width: 638px) {

.watch {
  padding-bottom: 39px;
  background-image: url('../assets/img/Giant Panda.jpg');
}

  .watch-container {

    .btn {
  display: none;
    }
  }
  .watch-circle {
    width: 119px;
    height: 119px;
    top: -20%;
    left: 69%;
  }

  .watch-title {
    margin-left: 110%;
    .title {
      font-size: 28px;
    }
}
}
