@import '../styles/colors.scss';
@import '../styles/common';
@import '../styles/header';
@import '../styles/main-start';
@import '../styles/quiz-page';
@import '../styles/gallery';
@import '../styles/audio-player';
@import '../styles/footer';
